<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/css/login.css" />
  <title>login</title>
</head>

<body>
  <div class="content">
    <form method="post" autocomplete="off">
      <div class="title">登 录</div>
      <input class="name" type="text" name="name" placeholder="取一个长度在20之内的名字" />
      <input name="role" type="radio" value="主播" />主播
      <input name="role" type="radio" value="普通用户" />普通用户
      <input name="role" type="radio" value="粉丝" />粉丝
      <div class="btns">
        <input type="submit" value="登录" id="submit" />
        <input type="reset" value="取消" />
      </div>
      <div class="logo">
    </form>
  </div>
  <script src="/js/login.js"></script>
</body>

</html>